<p id="notice"><%= notice %></p>

<h1>Imgs</h1>

<table>
  <thead>
    <tr>
      <th>Img fname user</th>
      <th>Img fname server</th>
      <th>Img size</th>
      <th>Img path root</th>
      <th>Img path up</th>
      <th>Img path dn</th>
      <th>Ad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @imgs.each do |img| %>
      <tr>
        <td><%= img.img_fname_user %></td>
        <td><%= img.img_fname_server %></td>
        <td><%= img.img_size %></td>
        <td><%= img.img_path_root %></td>
        <td><%= img.img_path_up %></td>
        <td><%= img.img_path_dn %></td>
        <td><%= img.ad %></td>
        <td><%= link_to 'Show', img %></td>
        <td><%= link_to 'Edit', edit_img_path(img) %></td>
        <td><%= link_to 'Destroy', img, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Img', new_img_path %>
