<p id="notice"><%= notice %></p>

<p>
  <strong>Img fname user:</strong>
  <%= @img.img_fname_user %>
</p>

<p>
  <strong>Img fname server:</strong>
  <%= @img.img_fname_server %>
</p>

<p>
  <strong>Img size:</strong>
  <%= @img.img_size %>
</p>

<p>
  <strong>Img path root:</strong>
  <%= @img.img_path_root %>
</p>

<p>
  <strong>Img path up:</strong>
  <%= @img.img_path_up %>
</p>

<p>
  <strong>Img path dn:</strong>
  <%= @img.img_path_dn %>
</p>

<p>
  <strong>Ad:</strong>
  <%= @img.ad %>
</p>

<%= link_to 'Edit', edit_img_path(@img) %> |
<%= link_to 'Back', imgs_path %>
